body { background: #f4f4f4; font-family: sans-serif; }
h1 { text-align: center; }
.container { max-width: 1000px; margin: 20px auto 0; }
.grid-item { background: #ff00fb; color: #fff; display: flex; justify-content: center; align-items: center; text-align: center; font-weight: bold; font-size: 2rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
  background: #fff;
}
.grid-item { display: none; }
.grid-item img { width: 100%; }
.grid-item-1, 
.grid-item-2, 
.grid-item-3, 
.grid-item-7 { 
    display: flex; 
}
.grid-item-1 { grid-column: 1 / 2; }
.grid-item-2 {
    grid-column: 2 / 3; 
}
.grid-item-7 { 
    grid-column: 1 / 2; 
    grid-row: 2 / 3; 
}
.grid-item-3 { 
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
}
h2{
    font-size: 30px;
}